#include "roBa.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
    // mantém steps físicos do encoder (12 por padrão)
    steps = <12>;
};

/* Ajuste de sensibilidade do encoder:
 * 1 clique físico = exatamente 1 passo lógico (LEFT/RIGHT)
 * Como o encoder tem 12 cliques por volta: triggers = 12
 */
&sensors {
    triggers-per-rotation = <12>;
};
